<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           https://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Spring beans cfg -->
	<bean id="ltime" class="java.time.LocalTime" factory-method="now" />
	<bean id="ldate" class="java.time.LocalDate" factory-method="now" />


	<bean class="com.nt.sbeans.WishMessageGenerator" scope="singleton">
		<property name="favColor" value="maroon" />
		<property name="date" ref="ldate" />
		<property name="time" ref="ltime" />  <!-- Setter Injection cfgs -->

	</bean>

	<bean id= "wmg" class="com.nt.sbeans.WishMessageGenerator" scope="singleton">
		<property name="favColor" value="maroon" />
		<property name="date" ref="ldate" />
		<property name="time" ref="ltime" />  <!-- Setter Injection cfgs -->

	</bean>

	<bean id="prn1" class="com.nt.ston.Printer" scope="prototype" />
	<bean id="prn2" class="com.nt.ston.Printer" scope="prototype" />



</beans>